img {
    float: left;
    margin: 5px;
}
.image1 {
    border-radius: 8px;
    width:18%;
    height:18%;
}
.image2 {
    padding:0px;
    width:150px;
    height:100px;
}
div {
    display: block;;
}